* {
  box-sizing: border-box;
}

body, .container {
  margin: 0;
}





.container {
  margin: auto;
}

.col {
  margin-top: -4px;
  width: 100%;
  height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}


.opaque img {
  width: 80%;
  height: 12em;
  margin: auto;
  margin-top: 50px;
  display: block;
  border: 3px solid white;
}

.text {
  color: white;
  width: 80%;
  margin: auto;
  display: block;
}

.buttons {
  width: 80%;
  margin: auto;
  display: block;
}

.score {
  color: white;
  margin: auto;
  margin-top: 5em;
  width: 80%;
  display: block;
  border-top: 1px solid white;
  padding-top: 1em;

}

.views {
  float: left;
  display: inline;
}
.likes {
  float: right;
  display: inline;
}


.first {

}
.first {
  position: relative;
}
.first::after {
  background: url("../img/lully3.jpg");
  height: 50em;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.second {
  position: relative;
}

.second::after {
  background-image: url("../img/willis2.jpg");
  height: 50em;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.third {
  position: relative;
}
.third::after {
  background-image: url("../img/kero2.jpg");
  height: 50em;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.fourth {
  position: relative;
  color: red;
}
.fourth::after {
  background-image: url("../img/bomba2.jpg");
  height: 50em;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
